Django==6.0.1
djangorestframework==3.16.1
django-cors-headers==4.9.0
python-dotenv==1.2.1
pandas==3.0.0
requests==2.32.5
PyYAML

# Uncomment if reading/writing Excel files via pandas
# openpyxl==3.1.5

# Uncomment if switching to PostgreSQL
# psycopg2-binary==2.9.11
